<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="çiftçi_otomasyonu.Properties.Settings.çiftçi_otomasyonuConnectionString"
            connectionString="Data Source=LAPTOP-BH2FRMKS;Initial Catalog=&quot;çiftçi otomasyonu&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>